* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    height: 10vh;
    margin: auto;
    width: 100%;
    display: flex;

    background-color: black;
    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.5);

    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0px;

    z-index: 1; 
}

nav h1, nav ul {
    font-size: 1.25rem;

    padding: 5vh 5vh 5vh 5vh;
    flex: 1;

    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0.5vh 2vh 0.5vh 2vh;
}

section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 2.5rem;
    color: white;
}

.Home {
    background: linear-gradient(to left top, #22B9C4,  #203A43);
}

.About {
    background: linear-gradient(to left top, #22C45C, #203A43);
}

.Content {
    background: linear-gradient(to left top, #B7C422, #203A43);
}

.Academics {
    background: linear-gradient(to left top, #C44922, #203A43);
}

.swoosh {
    position: absolute;
    
    z-index: -1;

    transform: scale(1.5);

    background: linear-gradient(to left top, #22B9C4,  #203A43);

    transition: all 0.5s ease;

    border-radius: 10px;
}

.About ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding: 5vh 5vh 5vh 5vh;
}

.About ul li {
    margin: 0px 30px;
}

.About ul li .fa {
   font-size: 10vh;
   color: white;
   line-height: 15vh;

   transition: .6s;
}

.About ul li .fa:hover{
    color: #22C45C;
}

.About ul li a {
    position: relative;
    display: block;

    width: 15vh;
    height: vh;
    border-radius: 30%;

    background-color: black;

    text-align: center;
    
    transition: .6s;

    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.2);
}

.About ul li a:hover{
    transform: translate(0, -20px);
}

.about-content p{
    color: white;
    font-size: 100px;
}

.menuicon{
    display: none;
    margin: 2vh;
}

.line1, .line2, .line3{
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 15%;

    background-color: white;

    transition: all 0.3s ease;
}


@media screen and (max-width: 768px){
    .swoosh{
        display: none;
    }

    html{
        overflow-x: hidden;
    }
    
    .nav-links {
       position: fixed;
       right: 0px;
       height: 92vh;
       top: 8vh;

       width: 40%;

       background-color: black;

       display: flex;
       flex-direction: column;
       align-items: center;

       transform: translate(100%);

       transition: tranform 0.5s ease-in;
   }

   nav ul li{
       opacity: 0;
   }

   .menuicon{
       display: block;
   }

   nav a::after{
       content: '';

       width: 0%;
       height: 4px;
       
       position: absolute;
       bottom: -20%;
       left: 50%;

       border-radius: 10px;

       background: linear-gradient(to right,#22B9C4, #22C45C, #B7C422, #C48C22, #C44922, #203A43);

       transition: 500ms ease;
   }

   nav a:hover::after{
       left: 0%;
       width: 100%;
   }

   .blog-cards{
       flex-direction: column;
       flex-wrap: wrap;
   }

}

.nav-active{
transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px, 8px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-6px, -8px);
}

.blog-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 1.5vh;
}

.blog-cards p, .recent-card p{
    color:white;

    font-size: 0.75rem;
    font-weight: 250;

    padding: 1vh;
}

.blog-cards h3, .recent-card h3{
    color: whitesmoke;

    font-size: 1rem;
 
    margin-top: 0px;

    padding: 1vh;
}

.blog-cards time, .recent-card time{
    color: rgb(231, 230, 230);

    font-size: 0.6rem;
}
.card1, .card2, .card3, .recent-card{
display: grid;

grid-template-columns: 40vh;
grid-template-rows: 25vh 40vh;
grid-template-areas:"image" "text";

border-radius: 20px;

box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);

background: black;

text-align: center;

transition: 0.5s ease;
cursor: pointer;

margin: 5vh;
}

.card1-image, .card2-image, .card3-image, .recent-card-image{
    grid-area: image;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-size: cover;
}

.card1-image{
    background-image: url(Images/Representation.jpg);
}

.card2-image{
    background-image: url(Images/Representation.jpg);
}

.card3-image{
    background-image: url(Images/Representation.jpg);
}

.recent-card-image{
    background-image: url(Images/Representation.jpg);
}

.card1-text, .card2-text, .card3-text, .recent-card-text{
    grid-area: text;

    margin: 25px;
}

.card1:hover, .card2:hover, .card3:hover, .recent-card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.blog-cards-link-1, .blog-cards-link-2, .blog-cards-link-3, .recent-card-link{
    text-decoration: none;
}

.viewbtn{
    position: relative;
    display: inline-block;
    
    padding: 1vh 2vh;
    margin: 1vh 2vh;
    
    color: white;
    background-color: black;
    box-shadow: 0px 3.5px 10px rgba(0, 0, 0, 0.7);
    
    border-radius: 10px;

    text-decoration: none;

    font-size: 1.15rem;
    font-weight: bolder;

    transition: 0.8s ease;

    cursor: pointer;
}

.viewbtn:hover{
    transform: translate(0, -10px);

    color: #d45731;
}

.other-Home{
    padding: 1vh 2vh;
    border-radius: 10px;

    transition: all 0.8s ease;
}

.other-Home:hover{
    background: linear-gradient(to left top, #22B9C4,  #203A43);
}

.other-About{
    padding: 1vh 2vh;
    border-radius: 10px;

    transition: all 0.8s ease;
}

.other-About:hover{
    background: linear-gradient(to left top, #22C45C, #203A43);
}
.other-Content{
    padding: 1vh 2vh;
    border-radius: 10px;

    transition: all 0.8s ease;
}

.other-Content:hover{
    background: linear-gradient(to left top, #B7C422, #203A43);
}
.other-Academics{
    padding: 1vh 2vh;
    border-radius: 10px;

    transition: all 0.8s ease;
}

.other-Academics:hover{
    background: linear-gradient(to left top, #C44922, #203A43);
}

.theory-blog {
    background: linear-gradient(to left top, #C44922, #203A43);
}

.content-blog{
    margin: 1vw 20vw 1.5vw 20vw;

    background-color: black;

    border-radius: 10px;
}

.theory-blog p{

    margin: 1vw 5vw 1vw 5vw;

    text-align: justify;

    color: white;

    font-size: 1rem;
}


.theory-blog h2{
    font-size: 2rem;

    margin: 2vw;

    text-align: center;
}

.blog-buttons{
    display: flex;
}